* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    height: 100vh;
}
#container {
    height: 400px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
#container #dino {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}


.dinoActive {
    animation: animateDino 0.5s linear infinite;

}

#container #dino img {
    height: 70px;
    width: 70px;
}

@keyframes animateDino{
    0%,100% {
        bottom: 28px;
    }
    45%,55% {
        bottom: 160px;
    }
}

#container #block {
    height: 80px;
    width: 125px;
    position: absolute;
    bottom: 20px;
    right: -20px;
}
.blockActive {
    animation: blockAnimate 1s linear infinite;
}
#container #block img {
    height: 80px;
    width: 125px;
}
@keyframes blockAnimate {
    0% {
        right: -125px;
    }
    100% {
        right: 100%;
    }
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}
#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    /* animation: roadAnimate 1s linear infinite; */
    animation: none;
}
@keyframes roadAnimate {
    0% {
        left: 0;
    }
    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}
#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    /* animation: cloudAnimate 3s linear infinite; */
    animation: none;
}
@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }
    100% {
        left: 100%;
    }
}
#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
}
#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}